<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="en-us">
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/app/images/touch-icon-iphone.32f2a1194fea.png') }}">
    <link rel="apple-touch-icon" sizes="76x76"
      href="{{ url_for('static', path='/app/images/touch-icon-ipad.72ecdbc7ee73.png') }}">
    <link rel="apple-touch-icon" sizes="120x120"
      href="{{ url_for('static', path='/app/images/touch-icon-iphone-retina.1a2cbbe908f1.png') }}">
    <link rel="apple-touch-icon" sizes="152x152"
      href="{{ url_for('static', path='/app/images/touch-icon-ipad-retina.d6b77685c81a.png') }}">
    <link rel="icon" href="{{ url_for('static', path='/app/images/favicon.2c4eb7f178b8.png') }}" sizes="16x16 32x32"
      type="image/png">
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700|Cousine|Lato:ital,wght@0,400;0,700;1,400;1,700|Noto+Serif:ital,wght@0,400;0,700;1,400;1,700|Comfortaa:wght@400;700|EB+Garamond:ital,wght@0,400;0,700;1,400;1,700|Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700|Lora:ital,wght@0,400;0,700;1,400;1,700|Merriweather:ital,wght@0,400;0,700;1,400;1,700|Montserrat:ital,wght@0,400;0,700;1,400;1,700|Nunito:ital,wght@0,400;0,700;1,400;1,700|Playfair+Display:ital,wght@0,400;0,700;1,400;1,700|Roboto:ital,wght@0,400;0,700;1,400;1,700|Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700|Spectral:ital,wght@0,400;0,700;1,400;1,700"
      rel="stylesheet" type="text/css" />
    <script type="text/javascript">
      if (window.location.pathname === "/login/") {
        const meta = document.createElement("META");
        meta.name = "ROBOTS";
        meta.content = "INDEX, NOFOLLOW";
        document.head.appendChild(meta);
      }
      else {
        const meta = document.createElement("META");
        meta.name = "ROBOTS";
        meta.content = "NOINDEX, NOFOLLOW";
        document.head.appendChild(meta);
        const link = document.createElement("link");
        link.rel = 'canonical'
        link.href = window.history.origin;
        document.head.appendChild(link);
      }
    </script>
    {% block extras %}{% endblock %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <meta name="description"
      content="Sign in with your username and password to access your Chartio dashboard. If you are having trouble logging in to your account, please contact Chartio Support.">
    <title>Chartio: Login to your account</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', path='/compressed/app.82b13e66618d.css') }}">
  </head>

  <body id="window-form-body">
    {% block body_content %}
    <!-- main content goes in here-->
    {% endblock %}
  </body>

</html>