{% extends "bases/base.html" %}

{% block content %}
{% include "bases/navbar.html" %}

<div class="global-content">
  <div class="container">
    <div class="row margin-top-3 home__image-row">
      <div class="col-12 flex-hv-center relative">
        <picture>
          <source
            srcset="{{ url_for('static', path='/final/486f99c8ab96c11ea8e1389f8b5c799f5aa7941319220a3537073e65877e456d/banner@2x.webp') }} 2x, {{ url_for('static', path='/final/09564a744e039c36d7c8a46617a9450cf48c3caac3c83cd4118869a604d3cc0d/banner.webp') }} 1x"
            type="image/webp">
          <source
            srcset="{{ url_for('static', path='/final/f078f4b0bbd83472523a9d279a88514e33ae05412464ce5f457e596c8ee90f5f/banner@2x.png') }} 2x, {{ url_for('static', path='/final/5c8ff76d380586403cec08eab9238905b238197fb109e8250b436d6ce8359775/banner.png') }} 1x"
            type="image/png">
          <img
            srcset="{{ url_for('static', path='/final/f078f4b0bbd83472523a9d279a88514e33ae05412464ce5f457e596c8ee90f5f/banner@2x.png') }} 2x, {{ url_for('static', path='/final/5c8ff76d380586403cec08eab9238905b238197fb109e8250b436d6ce8359775/banner.png') }} 1x"
            src="{{ url_for('static', path='/final/5c8ff76d380586403cec08eab9238905b238197fb109e8250b436d6ce8359775/banner.png') }}"
            alt="Chartion + Atlassion banner" class="image">
        </picture>

        <picture>
          <source
            srcset="{{ url_for('static', path='/final/e70d0d4398e416635f45965fcbfddf215c86a100928bae5e941ced71fa1a6f39/dashboard@2x.webp') }} 2x, {{ url_for('static', path='/final/93d3899e7f8857e6c6a16f890e2081591530999836ac6f2e330026ea02b6f41a/dashboard.webp') }} 1x"
            type="image/webp">
          <source
            srcset="{{ url_for('static', path='/final/e5a5aae927d72a9c91fdbe0b91d632dc6a64d26236966c08998a58b14bf5286d/dashboard@2x.png') }} 2x, {{ url_for('static', path='/final/93766e646a69d1254fb000a427b104cf2902267b5d4dd6ab37b82c4eeb2094a6/dashboard.png') }} 1x"
            type="image/png">
          <img
            srcset="{{ url_for('static', path='/final/e5a5aae927d72a9c91fdbe0b91d632dc6a64d26236966c08998a58b14bf5286d/dashboard@2x.png') }} 2x, {{ url_for('static', path='/final/93766e646a69d1254fb000a427b104cf2902267b5d4dd6ab37b82c4eeb2094a6/dashboard.png') }} 1x,"
            src=" {{ url_for('static', path='/final/93766e646a69d1254fb000a427b104cf2902267b5d4dd6ab37b82c4eeb2094a6/dashboard.png') }}"
            alt="Dashboard Illustration" class="image home__image">
        </picture>
      </div>
    </div>

    <div class="row margin-bottom-3">
      <div class="col-12 col-md-10 offset-md-1 font-center">
        <h1 class="text__main heading__1">Chartio is going away March 1, 2022</h1>
      </div>
      <div class="col-12 col-md-8 offset-md-2 font-center">
        <p class="text__main text--bm margin-bottom-1">
          Chartio has joined Atlassian! For over a decade, we have loved serving tens of millions of charts on millions
          of dashboards for thousands of incredible companies. All of you have helped us create a product that truly
          enables anyone in a company, not just data teams, to explore and understand their data.
        </p>
        <p class="text__main text--bm margin-bottom-1">
          We are excited to announce that we have joined
          <a class="link__inline" href="https://www.atlassian.com/">Atlassian</a>
          and are now focused on bringing our technology to their audience and platform.
        </p>
        <a href="/blog/atlassian/" class="text__main text--bm link__inline">
          See the full announcement for more details
          <span class="page-icon page-icon--size-067">
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.85414 12.2366L13.8179 6.27286L7.85414 0.309082L6.70357 1.45326L10.6986 5.44189H0.663086V7.10383H10.6986L6.70357 11.0989L7.85414 12.2366Z"
                fill="#2872E1" />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="home__wrapper">
    <div class="container">
      <div class="row padding-top-1">
        <div class="col-12 col-md-8 offset-md-2 font-center">
          <p class="text__main text--bm margin-bottom-1">
            We know this isn’t easy on our customers, so we’ve started a guide and outline of support to help with this
            migration.
          </p>
        </div>
      </div>
      <div class="row margin-bottom-1">
        <div class="col-12 flex-hv-center">
          <a href="/docs/migration-guide" class="button button--primary home__button">
            See the Migration Guide for support
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 flex-hv-center">
          <picture>
            <source
              srcset="{{ url_for('static', path='/final/dacb5df2e3a21a8aaa9f0a67d4d6f7536950f945378bcd0e82f8514abdeac97d/notebook@2x.webp') }} 2x, {{ url_for('static', path='/final/336e3060bd7453bb3ac615a1a7a58f738e02c63e54d8a59073e906a67631bb80/notebook.webp') }} 1x"
              type="image/webp">
            <source
              srcset="{{ url_for('static', path='/final/ef4f868df11b643e64bd5f63afc62cf2b67346e5d2d0fd23c4ae5fac0f537a4a/notebook@2x.png') }} 2x, {{ url_for('static', path='/final/67116996e952843ec0810340a7fc71cd6ed640456b1604167bab341085c12a5e/notebook.png') }} 1x"
              type="image/png">
            <img
              srcset="{{ url_for('static', path='/final/ef4f868df11b643e64bd5f63afc62cf2b67346e5d2d0fd23c4ae5fac0f537a4a/notebook@2x.png') }} 2x, {{ url_for('static', path='/final/67116996e952843ec0810340a7fc71cd6ed640456b1604167bab341085c12a5e/notebook.png') }} 1x"
              src="{{ url_for('static', path='/final/67116996e952843ec0810340a7fc71cd6ed640456b1604167bab341085c12a5e/notebook.png') }}"
              alt="Notebook Illustration" class="image">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ck-test-modal-var-1" class="ck-test-modal__wrapper display-none">
  <div class="ck-test-modal">
    <div class="ck-test-modal__close-button" onclick="closeCkTestForm(1)">
      <span class="page-icon page-icon--size-083">
        <svg fill="none" height="12" viewBox="0 0 12 12" width="12" xmlns="http://www.w3.org/2000/svg">
          <path d="m1 1 10 10m0-10-10 10" stroke="#687299" />
        </svg>
      </span>
    </div>
    <div class="ck-test-modal__header ck-test-modal__header--blue">
      <h2 class="ck-test-modal__title">Get a demo of Chartio</h2>
      <p class="ck-test-modal__subtitle ck-test-modal__subtitle--short">
        In this 15 minute demo, you’ll see how you can create an interactive dashboard to get answers first.
      </p>
    </div>
    <div class="ck-test-modal__body">
      <div id="ck-test-modal-form-var-1" class="ck-test-modal__form signup-demo"></div>
    </div>
  </div>
</div>

<div id="ck-test-modal-var-2" class="ck-test-modal__wrapper display-none">
  <div class="ck-test-modal">
    <div class="ck-test-modal__close-button" onclick="closeCkTestForm(2)">
      <span class="page-icon page-icon--size-083">
        <svg fill="none" height="12" viewBox="0 0 12 12" width="12" xmlns="http://www.w3.org/2000/svg">
          <path d="m1 1 10 10m0-10-10 10" stroke="#687299" />
        </svg>
      </span>
    </div>
    <div class="ck-test-modal__header">
      <h2 class="ck-test-modal__title">Learn the importance of a great data stack.</h2>
      <p class="ck-test-modal__subtitle">
        Download our free cloud data management ebook and learn how to manage your data stack and set up processes to
        get the most our of your data in your organization.
      </p>
    </div>
    <div class="ck-test-modal__body">
      <picture>
        <img
          srcset="{{ url_for('static', path='/new-design/tutorials/3883ee75568d0971c7133dc8ee9ef69c3cfd26b2b2f8cd0e20bc1c86a66e5029/cloud-data-management.png') }}"
          src="{{ url_for('static', path='/new-design/tutorials/3883ee75568d0971c7133dc8ee9ef69c3cfd26b2b2f8cd0e20bc1c86a66e5029/cloud-data-management.png') }}"
          alt="Cloud data management" class="ck-test-modal__image">
      </picture>
      <div id="ck-test-modal-form-var-2"
        class="small-font signup-input page-signup__form ck-test-modal__form ck-test-modal__form--var-2"></div>
    </div>
  </div>
</div>

<div id="ck-test-modal-var-3" class="ck-test-modal__wrapper display-none">
  <div class="ck-test-modal">
    <div class="ck-test-modal__close-button" onclick="closeCkTestForm(3)">
      <span class="page-icon page-icon--size-083">
        <svg fill="none" height="12" viewBox="0 0 12 12" width="12" xmlns="http://www.w3.org/2000/svg">
          <path d="m1 1 10 10m0-10-10 10" stroke="#687299" />
        </svg>
      </span>
    </div>
    <div class="ck-test-modal__header">
      <h2 class="ck-test-modal__title">Discover why our customers rate Chartion #1</h2>
      <div class="ck-test-modal__badges-row">
        <picture>
          <img srcset="{{ url_for('static', path='/v2/badges/users-love-us.png') }}"
            src="{{ url_for('static', path='/v2/badges/users-love-us.png') }}" alt="Users love us"
            class="ck-test-modal__badge">
        </picture>
        <picture>
          <img srcset="{{ url_for('static', path='/v2/badges/momentum-leader-data-viz-analytics-platform.png') }}"
            src="{{ url_for('static', path='/v2/badges/momentum-leader-data-viz-analytics-platform.png') }}"
            alt="Momentum leader" class="ck-test-modal__badge">
        </picture>
        <picture>
          <img srcset="{{ url_for('static', path='/v2/badges/high-performer-enterprise-analytics-platforms-bi.png') }}"
            alt="High Performer"
            src="{{ url_for('static', path='/v2/badges/high-performer-enterprise-analytics-platforms-bi.png') }}"
            class="ck-test-modal__badge">
        </picture>
        <picture>
          <img srcset="{{ url_for('static', path='/v2/badges/most-implementable-mid-market.png') }}"
            src="{{ url_for('static', path='/v2/badges/most-implementable-mid-market.png') }}" alt="Most implementable"
            class="ck-test-modal__badge">
        </picture>
        <picture>
          <img srcset="{{ url_for('static', path='/v2/badges/leader-data-viz-analytics-platform-bi.png') }}"
            src="{{ url_for('static', path='/v2/badges/leader-data-viz-analytics-platform-bi.png') }}" alt="Leader"
            class="ck-test-modal__badge">
        </picture>
      </div>
    </div>

    <div class="ck-test-modal__body ck-test-modal__body--blue">
      <div class="row ck-test-modal__body-row">
        <div class="col-md-4">
          <div class="ck-test-modal__signup-title">Sign up for a <br>14-day free trial</div>
        </div>
        <div class="col-md-4">
          <div class="ck-test-modal__item">
            <span class="page-icon page-icon--size-05 ck-test-modal__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
              </svg>
            </span>
            14 day free trial
          </div>
          <div class="ck-test-modal__item">
            <span class="page-icon page-icon--size-05 ck-test-modal__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
              </svg>
            </span>
            No credit card required
          </div>
        </div>
        <div class="col-md-4">
          <div class="ck-test-modal__item">
            <span class="page-icon page-icon--size-05 ck-test-modal__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
              </svg>
            </span>
            SOC 2 compliant
          </div>
          <div class="ck-test-modal__item">
            <span class="page-icon page-icon--size-05 ck-test-modal__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
              </svg>
            </span>
            25+ direct data source connections
          </div>
        </div>
        <div class="ck-test-modal__body-row">
          <div id="ck-test-modal-form-var-3"
            class="small-font signup-input page-signup__form ck-test-modal__form ck-test-modal__form--wide"
            style="margin-top: 40px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "bases/footer.html" %}
{% endblock %}